<a href="https://colab.research.google.com/github/deepakatAviSoft/march_assignments/blob/main/26_03_2024.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [38]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [39]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [40]:
df = pd.read_csv('/content/drive/MyDrive/HR_comma_sep (1).csv')

In [41]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14999 entries, 0 to 14998
Data columns (total 10 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   satisfaction_level     14999 non-null  float64
 1   last_evaluation        14999 non-null  float64
 2   number_project         14999 non-null  int64
 3   average_montly_hours   14999 non-null  int64
 4   time_spend_company     14999 non-null  int64
 5   Work_accident          14999 non-null  int64
 6   left                   14999 non-null  int64
 7   promotion_last_5years  14999 non-null  int64
 8   Department             14999 non-null  object
 9   salary                 14999 non-null  object
dtypes: float64(2), int64(6), object(2)
memory usage: 1.1+ MB

In [42]:
df.head()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,Department,salary
0,0.38,0.53,2,157,3,0,1,0,sales,low
1,0.80,0.86,5,262,6,0,1,0,sales,medium
2,0.11,0.88,7,272,4,0,1,0,sales,medium
3,0.72,0.87,5,223,5,0,1,0,sales,low
4,0.37,0.52,2,159,3,0,1,0,sales,low

In [43]:
department = df['Department'].nunique()
salary = df['salary'].nunique()

print(department, salary)

10 3

In [44]:
department = df['Department'].unique()
salary = df['salary'].unique()

print(department)
print(salary)

['sales' 'accounting' 'hr' 'technical' 'support' 'management' 'IT'
 'product_mng' 'marketing' 'RandD']
['low' 'medium' 'high']

In [45]:
df['left'].unique()

array([1, 0])

In [46]:
# Preprocess the data
X = df.drop('left', axis=1)
y = df['left']
X = pd.get_dummies(X, columns=['Department', 'salary'])

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Build the neural network model
model = Sequential([
    Dense(60, activation='relu', input_shape=(X_train.shape[1],)),
    Dense(60, activation='relu'),
    Dense(80, activation='relu'),
    Dense(1, activation='sigmoid')
])

# Compile the model
model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

# Train the model
model.fit(X_train, y_train, epochs=10, batch_size=30, validation_data=(X_test, y_test))

# Evaluate the model
loss, accuracy = model.evaluate(X_test, y_test)
print(f'Test Accuracy: {accuracy}')

Epoch 1/10
400/400 [==============================] - 4s 7ms/step - loss: 0.6087 - accuracy: 0.7471 - val_loss: 0.5283 - val_accuracy: 0.7647
Epoch 2/10
400/400 [==============================] - 2s 4ms/step - loss: 0.5399 - accuracy: 0.7568 - val_loss: 0.5650 - val_accuracy: 0.7530
Epoch 3/10
400/400 [==============================] - 2s 4ms/step - loss: 0.5015 - accuracy: 0.7556 - val_loss: 0.4634 - val_accuracy: 0.7513
Epoch 4/10
400/400 [==============================] - 2s 4ms/step - loss: 0.4750 - accuracy: 0.7562 - val_loss: 0.4678 - val_accuracy: 0.7640
Epoch 5/10
400/400 [==============================] - 2s 4ms/step - loss: 0.4625 - accuracy: 0.7664 - val_loss: 0.4450 - val_accuracy: 0.7623
Epoch 6/10
400/400 [==============================] - 2s 5ms/step - loss: 0.4548 - accuracy: 0.7660 - val_loss: 0.4523 - val_accuracy: 0.7497
Epoch 7/10
400/400 [==============================] - 2s 4ms/step - loss: 0.4458 - accuracy: 0.7681 - val_loss: 0.4439 - val_accuracy: 0.7500
Epoch 8/10
400/400 [==============================] - 2s 6ms/step - loss: 0.3806 - accuracy: 0.8117 - val_loss: 0.3089 - val_accuracy: 0.8773
Epoch 9/10
400/400 [==============================] - 2s 5ms/step - loss: 0.3193 - accuracy: 0.8569 - val_loss: 0.3053 - val_accuracy: 0.8730
Epoch 10/10
400/400 [==============================] - 2s 4ms/step - loss: 0.2867 - accuracy: 0.8766 - val_loss: 0.2675 - val_accuracy: 0.8987
94/94 [==============================] - 0s 3ms/step - loss: 0.2675 - accuracy: 0.8987
Test Accuracy: 0.8986666798591614